*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    line-height: 1.5;
    color: rgb(0, 0, 0);
}

button{
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 12px 40px;
    border-radius: 6px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

header{
    padding: 16px 0;
    background-color: #1F2937;
    color: white;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    font-size: 24px;
    font-weight: bold;
}

.nav-links{
    display:flex;
    list-style: none;
     gap: 24px;
}

.nav-links a{
    text-decoration: none;
    color: #ffffff;
    gap: 24px;
}

.hero{
    background-color: #1F2937;
    padding: 100px 0;
    color: #f9faf8;
}

.hero .container{
    display: flex;
    align-items: center;
    gap: 40px;
}

.hero .container h1{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero .container p{
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 24px;
}

.information h1{
    font-size: 36px;
    color:#1F2937;
    text-align: center;
    padding: 40px 0;
}

.card-box{
    display: flex;
    justify-content: center;
    gap: 48px;
    padding-bottom: 64px;
}

.card{
    color: #8c8c8b;
    flex-direction: column;
    text-align: center;
    padding: 24px;
    word-wrap: normal;
}


.card img {
    border: 4px solid #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 12px;
}

.quote{
    background-color: #E5E7EB;
    text-align: center;
    padding: 64px 128px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.quote h2{
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    text-align: left;
    font-style: italic;
}

.quote h3{
    text-align: end;
    font-weight: 300;
    margin-top: 16px;
}

.action-banner{
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    border-radius: 10px;
    margin: 64px 128px;
    padding: 20px;
}

.action-text{
    display: flex;
    flex-direction: column;
    color: #f9faf8;
    margin: 32px 64px;
}

.action-title{
    font-size:18px;
    font-weight: 900;
}

.action-message{
    font-size: 14px;
}

.action-button-box {
    display: flex;
    align-items: center;
    margin: 32px 64px;
}

button.action-button{
    border-color: #f9faf8;
    border-style: solid;
}


footer{
    text-align: center;
    padding: 16px 0;
    background-color:#1F2937;
    color: white;
}